# Private dataset
convers/*
data_neuro/*
data/pvalues*
data/estimates*
data/extracted*
# Ignore public software
MarsaTag/*
SPPAS/*
visbrain/*
# Ignore extracted data
data/extracted*
# extra files
*.DS_Store
marsatag-ui.log*
*__pycache__*
